extends ./layouts/layout.pug

block content
  .content
    .pane-wrapper
      .left-pane
        img(src="/img/friends-svg.svg" class="img")
      .right-pane.login-pane
        .pane-content
          h3.sub-heading="Welcome back to Byarent"
          p.graphite="Log back into your account"
          form(
            method="POST"
            action="/users/login"
            class="form"
          )
            label(for="email") Email Address
            input(
              type="email"
              placeholder="e.g you@example.com"
              name="email"
              id="email"
              class="form-input"
            )
            label(for="password") Password
            input(
              type="password"
              placeholder="At least 8 characters"
              name="password"
              id="password"
              class="form-input"
            )
            input(
              type="submit"
              value="Login"
              class="form-button"
            )
