.navbar
  .nav-left
    a(
      class="navbrand"
      href="/"
    ) Byarent
  .nav-right
    .nav
      ul(class="nav-items")
        li
          a(
            class="nav-item"
            href="/users/register"
          ) Register
        li
          a(
            class="nav-item"
            href="/users/login"
          ) Login
        li
          a(
            class="nav-item"
            href="/users/logout"
          ) Logout
